.workExperience {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.workExperience-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.workExperience-heading h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.workExperience-heading p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.workExperienceDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}

.card-wrapper {
  flex: 1 1 30%;
  display: flex;
}

@media (max-width: 1460px) {
  .card-wrapper {
    flex: 1 1 45%;
  }
}

@media (max-width: 1015px) {
  .workExperienceCards {
    width: 90vw;

    padding-left: 1rem;
    padding-right: 1rem;
  }

  .workExperience {
    padding: 0;
  }

  .card-wrapper {
    flex: 1 1 100%;
    margin: 0;
  }

  .workExperience-heading h2 {
    font-size: 2rem;
  }

  .workExperience-heading p {
    font-size: 13px;
  }

  .workExperience-title {
    justify-content: center;
  }
}
